<div class="aboutApplication">
	<h1 class="hd">doorMail - Follow-up emails and customer engagement</h1>
	<p>Through this application you can engage with your users quick and easy. Supported features:</p>
	<ul>
		<li>• Create and send emails to your users</li>
		<li>• Create and manage lists</li>
		<li>• Create email templates</li>
		<li>• Action history, record every email sent</li>
	</ul>
	<p><b>NOTE</b>: This isn't a newsletter application, so the content of the emails must be personalized without including ads or other type of campaigns.</p>
	<p><b>DISCLAIMER</b>: Please make sure that you use this service without violating any laws about privacy and spamming. doorMail hash no responsibility for the purpose that is being used, if for some reason it doesn't comply with the current laws.</p>
	<p>Some icons used in this application are inspired and made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>, licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
</div>