<div class="enterpriseDoorMailApplication">
	<div class="sidebar">
		<div class="side_menu">
			<div class="menuitem email selected init" data-literal='{"scope":"main.menu","name":"lbl_menu_email"}'>
				<div class="ico" />
				<div class="reload" />
			</div>
			<div class="menuitem lists" data-literal='{"scope":"main.menu","name":"lbl_menu_lists"}'>
				<div class="ico" />
				<div class="reload" />
			</div>
			<div class="menuitem templates" data-literal='{"scope":"main.menu","name":"lbl_menu_templates"}'>
				<div class="ico" />
				<div class="reload" />
			</div>
			<div class="mseparator" />
			<div class="menuitem settings" data-literal='{"scope":"main.menu","name":"lbl_menu_settings"}'>
				<div class="ico" />
				<div class="reload" />
			</div>
			<div class="menuitem about" data-literal='{"scope":"main.menu","name":"lbl_menu_about"}'>
				<div class="ico" />
				<div class="reload" />
			</div>
		</div>
	</div>
	<div id="drmlMainContainer" class="mainContent" />
</div>